*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clock-loader {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    overflow: visible;
    padding: 1%; 
}

.bg{fill:#09D3CD;}
.bg2{fill:#f6f6f6;}
.clock-face{fill:#09D3CD;stroke:#FFFFFF;stroke-width:18;stroke-miterlimit:10;}
.number{fill:none;stroke:#FFFFFF;stroke-width:0.75;stroke-miterlimit:10;}
.anchor{fill:#3B9B8F;stroke:#F2F2F2;stroke-width:2;stroke-miterlimit:10;}
.date{font-family:'Calibri', 'Helvetica'; fill:#ffffff;font-size:26px;}
.short-stick {
    fill:#FFFFFF;
    transform-origin: bottom center;
}
.long-stick {
    fill:#F2F2F2;
    transform-origin: bottom center;
}
.stroke {
    fill:none;
    opacity: 0.5;
    stroke:#1CEAE0;
    stroke-width:4;
    stroke-miterlimit:10;
    animation: stroke-animation 4s ease-in-out infinite;
    stroke-dasharray: 150, 250;
    stroke-dashoffset: 628.32;
}

@keyframes stroke-animation {
    50% {
        stroke-dashoffset: 0;
        opacity: 0.1;
    }  
    100% {
        stroke-dashoffset: 628.32;
        opacity: 0.5;
    }  
}